*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(23, 38, 66);
}

label{
    color: cornsilk;
}

.dice{
    display: block;
    text-align: center;
    padding-top: 5rem;
}

.login_container,
.app_email{
    text-align: center;
    padding-top: 5rem;
}

.app_email li{
    list-style: none;
}

.success{
    font-size: 4rem;
    color: limegreen;
    text-align: center;
}

.fail{
    color: maroon;
    text-align: center;
    font-size: 4rem;
}

.roll{
    text-align: center;
    padding-top: 2rem;
}

#user_number{
    width: 50px;
    height: 50px;
    color: rgb(255, 142, 101);
    font-size: 2rem;
    margin: 2rem
}

#pc_number{
    width: 50px;
    height: 50px;
    color: rgb(136, 237, 255);
    font-size: 2rem;
    margin: 2rem
}
.roll{
    color: rgba(255, 255, 255, 0.932);
}

#result{
    text-align: center;
}

#result{
    color: yellow;
}